#navbar {
	.navbar-brand {
		img {
			width: 50px;
			height: 50px;
		}
	}

	hr {
		height: 4px !important;
	}
}

// Below 576px
@include mq("phablet", "max") {
	#navbar {
		.navbar-brand {
			img {
				width: 40px;
				height: 40px;
			}
		}
	}
}
